<div class="col-sm-3" style="margin-left: 50px">
    <h3>Add Movie</h3>
    <form ng-submit="addMovie()">
        <div class="form-group">
            <label for="name">Title</label>
            <input type="text" class="form-control" id="name" ng-model="movie.title"  placeholder="Enter name" required>
        </div>
        <div class="form-group">
            <label for="release">Release</label>
            <input type="date" class="form-control" id="release"  ng-model="movie.release" required>
        </div>
        <div class="form-group">
            <label for="casts">Cast</label>
            <select multiple required class="form-control" id="casts" ng-model="movie.cast">
                <option ng-repeat="actor in actors" value="{{actor._id}}">{{actor.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="directors">Directors</label>
            <select multiple required class="form-control" id="directors" ng-model="movie.directors">
                <option ng-repeat="director in directors" value="{{director._id}}">{{director.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="musicDirectors">Music Directors</label>
            <select multiple required class="form-control" id="musicDirectors" ng-model="movie.musicDirectors">
                <option ng-repeat="musicDirector in musicDirectors" value="{{musicDirector._id}}">{{musicDirector.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="producers">Producers</label>
            <select multiple required class="form-control" id="producers" ng-model="movie.producers">
                <option ng-repeat="producer in producers" value="{{producer._id}}">{{producer.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="productionHouse">Production House</label>
            <select multiple required class="form-control" id="productionHouse" ng-model="movie.productionHouse">
                <option ng-repeat="productionHouse in productionHouses" value="{{productionHouse._id}}">{{productionHouse.name}}</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Add Movie</button>
    </form>
</div>