/* .cardAction .material-icons{
	transition: all .2s ease-in-out !important;
    transform: scale(0.95) !important; 
}
.cardAction .material-icons:hover{
	transform: scale(1.0) !important; 
} */
/*.Select--multi .Select-value-icon{
  cursor: pointer;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  border-right: 1px solid #c2e0ff;
   border-right: 1px solid rgba(0, 126, 255, 0.24);
  padding: 1px 5px 3px;
   display: inline-block;
  vertical-align: middle;
}*/

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center-container {
  position: relative;
}

.bg-light-blue{
  background-color: #D9EDF7;
  border: 1px solid #D9EDF7;
  border-radius: 4px;
}

.center-align{
  text-align: center;
}

/*.card-media{
  background-color: #D9EDF7;
  min-height: 177px;
}

.order-card-title {
  white-space: normal;
  overflow: hidden;
}

.order-card-title span:last-child{
  width: 250px;
  height: 25px;
}*/

/*.react-bs-table table td, .react-bs-table table th{
  white-space: normal;
  word-wrap: break-word;
}*/

.react-bs-table-container tbody td{
  vertical-align: middle !important;
}

.mdl-card{
  margin: auto;
}

.mdl-card__title {
  /*background-size: 160px 150px !important;*/
  background-size: contain !important;
  background-position: center center !important;   
  /*background-position: center !important;*/
}

.mdl-card{
  transition: all .2s ease-in-out !important;
  transform: scale(0.95) !important; 
}

.mdl-card:hover{
  transform: scale(1.0) !important;
}

.mdl-card__title h2{
  font-size: 18px !important;
}

a{
  text-decoration: none !important;
}

.mdl-layout__tab-bar-right-button, .mdl-layout__tab-bar-left-button{
  opacity: 0 !important;
}

/*.mdl-layout__tab-bar-container{
  background-color: #3F51B5 !important;
}*/

.mdl-layout__tab:hover{
  background-color: #363636 !important;
  color: white !important;
}

/*
.activeTab {
  color:#ffffff;
  line-height: 40px !important;
  /*font-family: Roboto-Medium;
  font-size: 14px;
  background: #237BFB;
  width: 130px;
  padding: 0px !important;
  text-align: center;
  text-decoration: none !important;
}*/